.slider-wrapper{
    position: relative;
    margin: auto;
    overflow: hidden;
}

/*image*/
.slider-image-wrapper img{
    width: 100%;
    height: 100%;
    position: absolute;
}

/*text*/
.slider-text{
    position: absolute;
    bottom: 10%;
    left: 14%;
    padding: 2% 3%;
    background: rgba(0,0,0,0.5);
    color: white;
}
.slider-title {
    font-size: 250%;
}
.slider-description {
    margin-top: 0px;
}

/*controls*/
.slider-control{
    position: absolute;
    width: 6%;
    height: 10%;
    z-index: 9999;
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
    top: 45%;
    background-size: 100% 100%;
    /*display: none;*/
}
.slider-next{
    right: 10px;
    background-image: url('images/next.png');
}
.slider-prev{
    left: 10px;
    background-image: url('images/prev.png');
}

/*-----------Animation---------------*/
/* LINEAR */
@keyframes translate-hide {
    from { transform: translateX(0px); }
    to { transform: translateX(-100%); }
}
@keyframes translate-show {
    from { transform: translateX(100%); }
    to { transform: translateX(0px); }
}

@keyframes translate-hide2 {
    from { transform: translateX(0px); }
    to { transform: translateX(100%); }
}
@keyframes translate-show2 {
    from { transform: translateX(-100%); }
    to { transform: translateX(0px); }
}

.animate-hide-linear{
     animation: translate-hide 0.5s ease-in-out;
 }
.animate-show-linear{
    animation: translate-show 0.5s ease-in-out;
}
.animate-hide2-linear{
    animation: translate-hide2 0.5s ease-in-out;
}
.animate-show2-linear{
    animation: translate-show2 0.5s ease-in-out;
}

/*ROTATE*/
@keyframes rotate-hide {
    from { transform: rotate(0deg); }
    to { transform: rotate(200deg); }
}
@keyframes rotate-show {
    from { transform: rotate(200deg); }
    to { transform: rotate(0deg); }
}

@keyframes rotate-hide2 {
    from { transform: rotate(0deg); }
    to { transform: rotate(200deg); }
}
@keyframes rotate-show2 {
    from { transform: rotate(200deg); }
    to { transform: rotate(0deg); }
}

.animate-hide-rotate{
    animation: rotate-hide 0.5s ease-in-out;
}
.animate-show-rotate{
    animation: rotate-show 0.5s ease-in-out;
}
.animate-hide2-rotate{
    animation: rotate-hide2 0.5s ease-in-out;
}
.animate-show2-rotate{
    animation: rotate-show2 0.5s ease-in-out;
}


/*FLIP*/
@keyframes flip-hide {
    0%   {
        opacity: 1;
        transform: rotateX(0deg);
    }
    50%  {
        transform: rotateX(90deg);

        opacity: 0;
    }
    100% {opacity: 0;}
}
@keyframes flip-show {
    0%   { opacity: 0; }
    50%  {
        transform: rotateX(90deg);
        opacity: 1;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes flip-hide2 {

}
@keyframes flip-show2 {

}

.animate-hide-flip{
    animation: flip-hide 0.5s ease-in-out;
    z-index: 9999;
}
.animate-show-flip{
    animation: flip-show 0.5s ease-in-out;
}
.animate-hide2-flip{
    animation: flip-hide 0.5s ease-in-out;
    transition: 0.5s;
}
.animate-show2-flip{
    animation: flip-show 0.5s ease-in-out;
    transition: 0.5s;
}
/*end-----------Animation---------------*/

/*end-----------Animation---------------*/